@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Whocats";
  src: url(./fonts/Whocats.ttf);
}
@font-face {
  font-family: "Journal";
  src: url(./fonts/JOURNAL.TTF);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: url(./imgs/bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 340px;
}

header {
  width: 100%;
  background-color: #00000064;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

#content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  border-radius: 10px 10px 0px 10px;
  border: none;
  color: bisque;
  background-color: brown;
  font-family: "Whocats";
  letter-spacing: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.422);
}

button:hover {
  color: brown;
  background-color: bisque;
  transition: 0.3s;
}
/* Home Section */

.home {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding: 30px;
  color: brown;
  background: url(./imgs/bg-menu.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
}

h1 {
  font-family: "Whocats", sans-serif;
  display: flex;
  align-items: center;
  gap: 3px;
}

.cup {
  width: 30px;
}

.coffee-machine {
  border-radius: 20px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
}

p {
  font-size: 18px;
  color: black;
}

/* Menu Section */

.menu {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  color: brown;
  background: url(./imgs/bg-menu.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
}

.item {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-name {
  font-family: "Journal", sans-serif;
  font-size: 50px;
  letter-spacing: 4px;
}

.item-desc {
  color: rgb(73, 20, 20);
}

/* About Section */

.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 2rem;
  color: brown;
  background: url(./imgs/bg-menu.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.9;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.3);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  padding: 50px 70px;
  border-radius: 100%;
  background-color: bisque;
}

.contactH1 {
  font-family: "Whocats";
  padding: 20px;
  text-shadow: 2px 2px 2px rgb(173, 92, 92);
}

.contact-name {
  font-family: "Journal";
  font-size: 50px;
  letter-spacing: 4px;
  color: black;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: black;
  color: rgb(192, 192, 192);
}

footer div {
  font-size: 14px;
}
